<%= form_with model: @shop do |f|%>

  <div class="field">
    <%= f.label :name, "店名" %></br>
    <%= f.text_field :name%>
  </div>

  <div class="field">
    <%= f.label :text, "紹介文" %></br>
    <%= f.text_area :text %>
  </div>

  <div class="submit">
    <%= f.submit "作成する"%>
  </div>

<% end %>

<%= link_to :back do %>
  <button>戻る</button>
<% end %>