<!--_week_calendar.html.erb -->
<div class="simple-calendar">
  <div class="calendar-heading text-center w-11/12 m-auto flex">
  <div class="w-4/12 text-left">
    <%= link_to t('simple_calendar.previous', default: '＜ 前週'), calendar.url_for_previous_view %>
    </div>
    <% if calendar.number_of_weeks == 1 %>
    <div class="w-4/12 text-center">
      <span class="calendar-title"><%= t('simple_calendar.week', default: '1週間') %></span>
      </div>
    <% else %>
    <div class="w-4/12 text-center">
      <span class="calendar-title"><%= t('simple_calendar.week', default: '1週間') %></span>
    </div>
    <% end %>
    <div class="w-4/12 text-right">
    <%= link_to t('simple_calendar.next', default: '翌週 ＞'), calendar.url_for_next_view %>
    </div>
    <!-- 追加 -->
    <% reservations = Reservation.reservations_after_three_month %>
  </div>
  <table class="w-11/12 m-auto">
    <thead>
      <tr>
        <th class="px-4 py-2">時間</th>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="px-4 py-2 text-center"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <td class="text-center"></td>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <% times.each do |time| %>
          <tr >
            <td class="border px-4 py-2 text-center"><%= time %></td>
            <% week.each do |day| %>
              <td class="border px-4 py-2 text-center">
                <!-- 追加 -->
                <!-- ここから -->
                <% if check_reservation(reservations, day, time) %>
                  <%= '×' %>
                <% else %>
                   <!-- 追加 -->
                  <%= link_to controller: :reservations, action: :new ,day: day, time: time do %>
                    <%= '○' %>
                  <% end %>
                  <!-- ここまで -->
                <% end %>
                <!-- ここまで -->
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>